fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
groq
google-generativeai
httpx<0.28.0
aiosmtplib
cryptography
alembic
python-dotenv
gunicorn
email-validator
aiofiles
websockets>=12.0
stripe
razorpay
pyotp
supabase
Pillow
